<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>银行web应用</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app" style="background-color: azure; height: 1200px">
      <div v-if="login === false"  style="background-image: url(timg.jpg);height: 1000px">
        <el-row style="height: 100px; background-color: blueviolet">
          <el-col :offset="3" :span="21">
            <h1>云计算银行web应用</h1>
          </el-col>
        </el-row>
        <el-row style="height: 150px">
          <el-col :offset="3" :span="2">
            <h2 style="color: chartreuse">欢迎使用</h2>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6" :offset="9">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="账号">
                    <el-input v-model="form.username"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input type="password" v-model="form.password"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">登陆</el-button>
                    <el-button>注册</el-button>
                </el-form-item>
            </el-form>
          </el-col>
        </el-row>
      </div>

      <div v-if="login && !info && !deposit && !transfer && !bank"  style="background-image: url(timg.jpg);height: 1000px">
          <el-row style="height: 100px; background-color: blueviolet">
            <el-col :offset="3" :span="21">
              <h1>云计算银行web应用</h1>
            </el-col>
          </el-row>
          <el-row style="height: 150px">
            <el-col :offset="3" :span="2">
              <h2 style="color: chartreuse">欢迎使用</h2>
            </el-col>
          </el-row>
          <el-row style="height: 50px">
            <el-col :offset="4" :span="3">
              <el-button type="primary" v-on:click="show1">查看个人信息</el-button>
            </el-col>
            <el-col :offset="2" :span="3">
              <el-button type="primary" v-on:click="show2">存取款</el-button>
            </el-col>
            <el-col :offset="2" :span="3">
              <el-button type="primary" v-on:click="show3">转账</el-button>
            </el-col>
            <el-col :offset="2" :span="3">
              <el-button type="primary" v-on:click="show4">理财业务</el-button>
            </el-col>
          </el-row>
        </div>

        <div v-if="login && info"  style="background-image: url(timg.jpg);height: 1000px">
          <el-row style="height: 100px; background-color: blueviolet">
            <el-col :offset="3" :span="21">
              <h1>云计算银行web应用|个人信息</h1>
            </el-col>
          </el-row>
          <el-row style="height: 50px">
            <el-col :offset="4">
              <span>用户名：{{userinfo.userName}}</span>
            </el-col>
          </el-row>
          <el-row style="height: 50px">
            <el-col :offset="4">
              <span>定期存储金额：{{userinfo.fixedTimeDeposit}}</span>
            </el-col>
          </el-row>
          <el-row style="height: 50px">
            <el-col :offset="4">
              <span>账户活期余额：{{userinfo.userBalance}}</span>
            </el-col>
          </el-row>
          <el-row style="height: 50px">
            <el-col :offset="4">
              <span>基金：{{userinfo.fund}}</span>
            </el-col>
          </el-row>
          <el-row style="height: 50px">
            <el-col :offset="4">
              <span>股票：{{userinfo.stock}}</span>
            </el-col>
          </el-row>
          <el-row style="height: 50px">
            <el-col :offset="4">
              <el-button type="primary" v-on:click="returnop1">返回</el-button>
            </el-col>
          </el-row>
        </div>

        <div v-if="login && deposit"  style="background-image: url(timg.jpg);height: 1000px">
          <el-row style="height: 100px; background-color: blueviolet">
              <el-col :offset="3" :span="21">
                <h1>云计算银行web应用|个人信息</h1>
              </el-col>
          </el-row>
          <el-row>
            <br/><br/><br/>
            <el-col :offset="9" :span="3">
              <el-input v-model="account1" placeholder="金额"></el-input>
            </el-col> 
            <el-col :offset="1" :span="4">
              <el-button type="primary" v-on:click="ope2(1)">存款</el-button>
            </el-col>
          </el-row>
          <el-row>
            <br/>
            <el-col :offset="9" :span="3">
              <el-input v-model="account2" placeholder="金额"></el-input>
            </el-col> 
            <el-col :offset="1" :span="4">
              <el-button type="primary" v-on:click="ope2(2)">取款</el-button>
            </el-col>
          </el-row>

          <el-row style="height: 50px">
            <br/><br/>
            <el-col :offset="11">
              <el-button type="primary" v-on:click="returnop2">返回</el-button>
            </el-col>
          </el-row>
        </div>

        <div v-if="login && transfer"  style="background-image: url(timg.jpg);height: 1000px">
          <el-row style="height: 100px; background-color: blueviolet">
              <el-col :offset="3" :span="21">
                <h1>云计算银行web应用|转账</h1>
              </el-col>
          </el-row>
          <el-row>
            <br/><br/><br/>
            <el-col :offset="5" :span="3">
              <el-input v-model="accountTransfer" placeholder="金额"></el-input>
            </el-col> 
            <el-col :offset="2" :span="3">
                <el-input v-model="acceptername" placeholder="转账人"></el-input>
              </el-col> 
            <el-col :offset="1" :span="4">
              <el-button type="primary" v-on:click="ope3">转账</el-button>
            </el-col>
          </el-row>

          <el-row style="height: 50px">
            <br/><br/>
            <el-col :offset="11">
              <el-button type="primary" v-on:click="returnop3">返回</el-button>
            </el-col>
          </el-row>
        </div>

        <div v-if="login && bank"  style="background-image: url(timg.jpg);height: 1000px">
          <el-row style="height: 100px; background-color: blueviolet">
              <el-col :offset="3" :span="21">
                <h1>云计算银行web应用|理财业务</h1>
              </el-col>
          </el-row>
          <el-row>
              <br/><br/><br/>
              <el-col :offset="7" :span="2"> 
                <span>定期存款</span> 
              </el-col>
              <el-col :offset="0" :span="3"> 
                  <el-input v-model="account3" placeholder="金额"></el-input>
              </el-col> 
              <el-col :offset="1" :span="4">
                <el-button type="primary" v-on:click="ope4(3)">购买</el-button>
              </el-col>
          </el-row>
          <el-row>
              <br/>
              <el-col :offset="7" :span="2"> 
                  <span>基金</span> 
                </el-col>
              <el-col :offset="0" :span="3">
                <el-input v-model="account4" placeholder="金额"></el-input>
              </el-col> 
              <el-col :offset="1" :span="4">
                <el-button type="primary" v-on:click="ope4(4)">购买</el-button>
              </el-col>
          </el-row>
          <el-row>
              <br/>
              <el-col :offset="7" :span="2"> 
                  <span>股票</span> 
                </el-col>
              <el-col :offset="0" :span="3">
                <el-input v-model="account5" placeholder="金额"></el-input>
              </el-col> 
              <el-col :offset="1" :span="4">
                <el-button type="primary" v-on:click="ope4(5)">购买</el-button>
              </el-col>
          </el-row>

          <el-row style="height: 50px">
            <br/><br/>
            <el-col :offset="11">
              <el-button type="primary" v-on:click="returnop4">返回</el-button>
            </el-col>
          </el-row>
        </div>
    </div>
  <script>
    // axios.defaults.baseURL = 'http://148.100.86.254:8081/';

    var app = new Vue({
      el: '#app',
      data: function(){
        return {
          account1: null,
          account2: null,
          account3: null,
          account4: null,
          account5: null,
          accountTransfer: null,
          acceptername: '',
          login: false,
          info: false,
          deposit: false,
          transfer: false,
          bank: false,
          form: {
            username:'',
            password:''
          },
          userinfo: {
            userName:'',
            userBalance:'',
            fund:'',
            stock:'',
            fixedTimeDeposit:''
          }
        }
      },
      
      methods: {  
        onSubmit: function(){
          axios
            .post("/api/login", {
              username: app.form.username, 
              password: app.form.password
            })
            .then(function (res) {
                if (res.data === true){
                  app.login = true;
                }else alert("登陆失败，请检查账户名和密码");
            })
            .catch((err) => console.log(err));
        },

        myop: function(bankop, localAccount){
          axios
            .post("/api/operation", {
              username: app.form.username, 
              type: bankop,
              account: localAccount
            })
            .then(function (res) {
              if (res.data === true)
              {
                alert("操作成功！");
              }else alert("操作失败");
            })  
        },

        show1: function(){
          axios
            .post("/api/information", {
              username: app.form.username, 
            })
            .then(function (res) {
              app.userinfo.userName = res.data[0].user_id;
              app.userinfo.userBalance = res.data[0].account;
              app.userinfo.fund = res.data[0].fund;
              app.userinfo.stock = res.data[0].stock;
              app.userinfo.fixedTimeDeposit = res.data[0].dingqi;
              app.info = true;
            })  
        },
        
        show2 : function(){
          app.deposit = true;
        },
        ope2:function(bankop){
          let localAccount;
          if (bankop === 1)
            localAccount = app.account1;
          else if (bankop === 2)
            localAccount = app.account2;
          app.myop(bankop, localAccount);
        },

        show3: function(){
          app.transfer = true;
        },

        ope3: function(){
          axios
            .post("/api/transfer", {
              username: app.form.username, 
              acceptername: app.acceptername,
              account: app.accountTransfer
            })
            .then(function (res) {
              if (res.data === "0" || res.data === "3") 
                alert("转账成功");
            })  
        },

        show4: function(){
          app.bank = true;
        },

        ope4: function(bankop){
          let localAccount;
          if (bankop === 3)
            localAccount = app.account3;
          else if (bankop === 4)
            localAccount = app.account4;
          else if (bankop === 5)
            localAccount = app.account5;
          app.myop(bankop, localAccount);   
        },

        returnop1: function(){
          app.info = false;
        },
        returnop2: function(){
          app.deposit = false;
        },
        returnop3: function(){
          app.transfer = false;
        },
        returnop4: function(){
          app.bank = false;
        }
      }
    })
  </script>
</body>
</html>